ETHERSCAN_KEY=SomeEtherscanKey
OVM_ETHERSCAN_KEY=SomeEtherscanKey
PROVIDER_URL=https://network.infura.io/v3/SomeInfuraKey (runtime replaces "network")
PROVIDER_URL_MAINNET=https://mainnet.infura.io/v3/SomeInfuraKey
DEPLOY_PRIVATE_KEY=SomeEthereumPrivateKey (including 0x prefix)
TESTNET_DEPLOY_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
CIRCLECI_TOKEN=Create one via https://app.circleci.com/settings/user/tokens
PINATA_KEY= # used in persist-tokens to upload to IPFS
PINATA_SECRET= # used in persist-tokens to upload to IPFS
